{% extends 'base.html' %}

{% block title %}作業指示票修正{% endblock %}

{% block content %}
<style>ul{list-style: none;}</style>
    <h1  class="titles">作業指示票修正: {{ work_order.work_order_number }}</h1>
    <form method="post">
        {% csrf_token %}
        <h2 class="titles">作業指示票情報</h2>        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ form.as_p }}
        <h2 class="titles">作業進捗データ</h2>
        <div style="width:50%;">
            <div align="left">
        {{ formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>作業日</th>
                    <th>当日実績</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <td>{{ form.work_date }}</td>
                    <td>{{ form.daily_result }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div></div>
        <button type="submit">修正を保存</button>
    </form>
    <a href="{% url 'sagyoshiji:work_order_list' %}">作業指示票一覧に戻る</a>
{% endblock %}
